<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta th:name="_csrf.parameterName" th:content="${_csrf.token}" />
    <link rel="stylesheet" href="//cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <title>Hello</title>
    
</head>
<style>
body {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

table {
  border: 5px solid black;
  border-top: 3px solid black;
  border-collapse: collapse;
  transition-duration: 0.5s;
  border-radius: 1em;
  table-layout: auto;
  width: 100%; 
  overflow: hidden;
}
.greyout {
  background-color: #808080 !important;
}

th {
  
  border-radius: 0.8em;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

tr {
  background-color: white;
}


tr:not(.highlight):not(.greyout):nth-child(even){background-color: #f2f2f2;}
tr:not(.highlight):not(.greyout):hover {background-color: #ddd !important;}

.highlight {
  background-color: yellow !important;
}

td {
  border: 1px solid white;
  padding: 5px;
}


.input-transparent
{
    background: transparent;
    border: none;
}

.input
{
    border: none;
}


select {
	border-radius:20px;
}
ul {
    list-style-type:none;
}
ul > li {
    display: inline-block;
}

.up-arrow {
    width: 0;
    height: 0;
    border: solid 5px transparent;
    background: transparent;
    border-bottom: solid 7px black;
    border-top-width: 0;
    cursor: pointer;
}

.down-arrow {
    width: 0;
    height: 0;
    border: solid 5px transparent;
    background: transparent;
    border-top: solid 7px black;
    border-bottom-width: 0;
    margin-top:1px;
    cursor: pointer;
}

</style>
<body>
    
    <!--  
    <div>
    	<input id="searchField" type="text" placeholder="Search.." >
    	
    	
	    <select id="searchBy" >
	    	<option value="id">id</option>
	    	<option value="name">name</option>
	    </select>
	    <button onclick="searchBy()">Search</button>
	    
    </div>
    
    <div style="float:right;" >Sort by: &nbsp;
	    <select id="sortby" onchange="sortBy();">
	    	<option value="id">id</option>
	    	<option value="name">name</option>
	    </select>
    </div>
    -->
    <table id="myTable">
    <thead>
        <tr>
        	<th>ID</th>
            <th>Name</th>
            <th>Password</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>Active</th>
            <th>Roles</th>
        </tr>
    </thead>
    <tbody>
    	<tr th:if="${users.empty}">
            <td colspan="7"> No Available </td>
        </tr>
        
        <tr th:each="user,iteration : ${users}"  th:id="'row' + ${user.id}"
        	th:class="${user.isActive} ? '' : 'greyout'"
        	th:classappend="${#authentication.getPrincipal().getUserId()} == ${user.id}  ? 'highlight':''"
        	>
        	<td th:text="${user.id}">ID</td>
        	<!--  
        	<td th:value="${user.id}">
            	<input type="text" th:id="'id'+${user.id}" th:value="${user.id}" readonly="readonly" 
            	class="input-transparent"
            	ondblclick="doubleClick(this,'id')"/>
            </td>
            -->
            <td sec:authorize="!hasAuthority('ADMIN')">
            	<div th:text="${user.name}" style="display:none"></div>
	            <input type="text" th:if="${user.roles[__${#lists.size(user.roles) - 1}__].name}!='ADMIN'"
	            	th:id="'name'+${user.id}" th:value="${user.name}" readonly="readonly"
	            	class="input-transparent"
	            	ondblclick="doubleClick(this,'name')"/>
	            <input type="text" th:if="${user.roles[__${#lists.size(user.roles) - 1}__].name}=='ADMIN'"
	            	th:value="${user.name}" readonly="readonly" class="input-transparent" style="outline:none;"/>
            </td>
            <td sec:authorize="hasAuthority('ADMIN')">
            	<div th:text="${user.name}" style="display:none"></div>
            	<input type="text" th:id="'name'+${user.id}" th:value="${user.name}" readonly="readonly" 
	            	class="input-transparent"
	            	ondblclick="doubleClick(this,'name')"/>
            </td>
            
           
            <td sec:authorize="!hasAuthority('ADMIN')">
            	<div th:if="${user.roles[__${#lists.size(user.roles) - 1}__].name}!='ADMIN'" 
            		th:text="${user.password}">Password</div>
            </td>
            <td sec:authorize="hasAuthority('ADMIN')">
            	<div th:text="${user.password}">Password</div>
            </td>
            
            <td sec:authorize="!hasAuthority('ADMIN')">
            	<div th:text="${user.emailAddress}" style="display:none"></div>
            	<input th:if="${user.roles[__${#lists.size(user.roles) - 1}__].name}!='ADMIN'"
            	 type="email" th:id="'email'+${user.id}" th:value="${user.emailAddress}" readonly="readonly" 
            	 class="input-transparent"
            	 ondblclick="doubleClick(this,'emailAddress')"/>
            	<input th:if="${user.roles[__${#lists.size(user.roles) - 1}__].name}=='ADMIN'"
            	 type="email" th:value="${user.emailAddress}" readonly="readonly" class="input-transparent" style="outline:none;"/>
            </td>
            <td sec:authorize="hasAuthority('ADMIN')">
            	<div th:text="${user.emailAddress}" style="display:none"></div>
            	<input type="email" th:id="'email'+${user.id}" th:value="${user.emailAddress}" readonly="readonly" 
            	 class="input-transparent"
            	 ondblclick="doubleClick(this,'emailAddress')"/>
            </td>
            
            
            <td sec:authorize="!hasAuthority('ADMIN')">
            	<div th:text="${user.mobile}" style="display:none"></div>
            	<input type="text" th:if="${user.roles[__${#lists.size(user.roles) - 1}__].name}!='ADMIN'"
            	th:id="'mobile'+${user.id}" th:value="${user.mobile}" readonly="readonly" 
            	class="input-transparent"
            	ondblclick="doubleClick(this,'mobile')"/>
            	<input type="text" th:if="${user.roles[__${#lists.size(user.roles) - 1}__].name}=='ADMIN'"
            	th:value="${user.mobile}" readonly="readonly" class="input-transparent" style="outline:none;"/>
            </td>
            <td sec:authorize="hasAuthority('ADMIN')">
            	<div th:text="${user.mobile}" style="display:none"></div>
            	<input type="text" th:id="'mobile'+${user.id}" th:value="${user.mobile}" readonly="readonly" 
            	class="input-transparent"
            	ondblclick="doubleClick(this,'mobile')"/>
            </td>
            
            
            <td sec:authorize="!hasAuthority('ADMIN')">
            	<div th:text="${user.isActive}" style="display:none"></div>
            	<input type="checkbox"
            		th:if="${user.roles[__${#lists.size(user.roles) - 1}__].name}!='ADMIN'"
	            	th:checked="${user.isActive}"
	            	th:id="${user.id}"
	            	th:disabled="${#authentication.getPrincipal().getUserId()} == ${user.id}"
	            	onchange="showCheckBox(this.id)"/>
	            <input type="checkbox"
            		th:if="${user.roles[__${#lists.size(user.roles) - 1}__].name}=='ADMIN'"
	            	th:checked="${user.isActive}"
	            	th:disabled="true"/>
            </td>
            <td sec:authorize="hasAuthority('ADMIN')">
            	<div th:text="${user.isActive}" style="display:none"></div>
            	<input type="checkbox"
	            	th:checked="${user.isActive}"
	            	th:id="${user.id}" 
	            	th:disabled="${#authentication.getPrincipal().getUserId()} == ${user.id}"
	            	onchange="showCheckBox(this.id)" 
	            />
            </td>
            
            <!-- 
            <td th:if="${user.roles.empty}">
            	<select th:id="'role'+${user.id}"
            	 	onchange="selectRole(this, this.id);">
            	 	<option selected="selected" value="xxx">--</option>
			    	<option value="user">USER</option>
			    </select>
            </td>
            -->
            
            <!-- 
            <td >
            	<div th:text="${user.roles[__${#lists.size(user.roles) - 1}__].name}"></div>
            </td>
            -->
            <!--  
            <td th:each="role : ${user.roles}">
            	<select th:id="'role'+${user.id}"
            		th:disabled="${#authentication.getPrincipal().getUserId()} == ${user.id}"
            	 	onchange="selectRole(this, this.id);">
			    	<option th:selected="(${role.name}=='USER')" value="user">USER</option>
			    	<option th:selected="(${role.name}=='MANAGER')" value="manager">MANAGER</option>
			    	<option th:selected="(${role.name}=='ADMIN')" value="admin">ADMIN</option>
			    </select>
            </td>
            -->
            <td sec:authorize="!hasAuthority('ADMIN')">
             <div th:if="${user.roles[__${#lists.size(user.roles) - 1}__].name}!='ADMIN'">
             	<ul class="checkboxes" th:if="${user.roles.empty}">
				    <li >
				      <input type="checkbox" th:id="'user/'+${user.id}" 
				           onchange="roleCheckBox(this, this.id)"/>
				        USER
				    </li>
				    <li>
				      <input type="checkbox" th:id="'manager/'+${user.id}" 
				           onchange="roleCheckBox(this, this.id)"/>
				        MANAGER
				    </li>
				</ul>
	            <ul class="checkboxes" th:if="${#lists.size(user.roles)==3}">
				    <li>
				      <input type="checkbox" th:id="'user/'+${user.id}" 
				      		th:checked="${user.roles[0].name}=='USER'"
				           onchange="roleCheckBox(this, this.id)"/>
				        USER
				    </li>
				    <li>
				      <input type="checkbox" th:id="'manager/'+${user.id}" 
				      		th:checked="${user.roles[1].name}=='MANAGER'"
				           onchange="roleCheckBox(this, this.id)"/>
				        MANAGER
				    </li>
				</ul>
				 
				<ul class="checkboxes" th:if="${#lists.size(user.roles)==2}">
				    <li>
				      <input type="checkbox" th:id="'user/'+${user.id}" 
				      		th:checked="${user.roles[0].name}=='USER'"
				           onchange="roleCheckBox(this, this.id)"/>
				        USER
				    </li>
				    <li>
				      <input type="checkbox" th:id="'manager/'+${user.id}" 
				      		th:checked="${user.roles[0].name}=='MANAGER' or ${user.roles[1].name}=='MANAGER'"
				           onchange="roleCheckBox(this, this.id)"/>
				        MANAGER
				    </li>
				 </ul>
				   
				   
				 <ul class="checkboxes" th:if="${#lists.size(user.roles)==1}">
				    <li >
				      <input type="checkbox" th:id="'user/'+${user.id}" 
				      		th:checked="${user.roles[0].name}=='USER'"
				           onchange="roleCheckBox(this, this.id)"/>
				        USER
				    </li>
				    <li>
				      <input type="checkbox" th:id="'manager/'+${user.id}" 
				      		th:checked="${user.roles[0].name}=='MANAGER'"
				           onchange="roleCheckBox(this, this.id)"/>
				        MANAGER
				    </li>
				 </ul>
		     </div>
		     <div th:if="${user.roles[__${#lists.size(user.roles) - 1}__].name}=='ADMIN'" 
		     	style="text-align: center;">ADMIN
		     </div>
		     </td>
		     
		     <td sec:authorize="hasAuthority('ADMIN')">
		     <div>
             	<ul class="checkboxes" th:if="${user.roles.empty}">
				    <li >
				      <input type="checkbox" th:id="'user/'+${user.id}" 
				           onchange="roleCheckBox(this, this.id)"/>
				        USER
				    </li>
				    <li>
				      <input type="checkbox" th:id="'manager/'+${user.id}" 
				           onchange="roleCheckBox(this, this.id)"/>
				        MANAGER
				    </li>
				    <li>
				      <input type="checkbox" th:id="'admin/'+${user.id}"
				           onchange="roleCheckBox(this, this.id)"/>
				        ADMIN
				    </li>
				</ul>
	            <ul class="checkboxes" th:if="${#lists.size(user.roles)==3}">
				    <li>
				      <input type="checkbox" th:id="'user/'+${user.id}" 
				      		th:checked="${user.roles[0].name}=='USER'"
				           onchange="roleCheckBox(this, this.id)"/>
				        USER
				    </li>
				    <li>
				      <input type="checkbox" th:id="'manager/'+${user.id}" 
				      		th:checked="${user.roles[1].name}=='MANAGER'"
				           onchange="roleCheckBox(this, this.id)"/>
				        MANAGER
				    </li>
				    <li>
				      <input type="checkbox" th:id="'admin/'+${user.id}"
				      		th:checked="${user.roles[2].name}=='ADMIN'"
				      		th:disabled="${#authentication.getPrincipal().getUserId()} == ${user.id}"
				           onchange="roleCheckBox(this, this.id)"/>
				        ADMIN
				    </li>
				    
				</ul>
				 
				<ul class="checkboxes" th:if="${#lists.size(user.roles)==2}">
				    <li>
				      <input type="checkbox" th:id="'user/'+${user.id}" 
				      		th:checked="${user.roles[0].name}=='USER'"
				           onchange="roleCheckBox(this, this.id)"/>
				        USER
				    </li>
				    <li>
				      <input type="checkbox" th:id="'manager/'+${user.id}" 
				      		th:checked="${user.roles[0].name}=='MANAGER' or ${user.roles[1].name}=='MANAGER'"
				           onchange="roleCheckBox(this, this.id)"/>
				        MANAGER
				    </li>
				    <li>
				      <input type="checkbox" th:id="'admin/'+${user.id}"
				      		th:checked="${user.roles[1].name}=='ADMIN'"
				      		th:disabled="${#authentication.getPrincipal().getUserId()} == ${user.id}"
				           onchange="roleCheckBox(this, this.id)"/>
				        ADMIN
				    </li>
				 </ul>
				   
				 <ul class="checkboxes" th:if="${#lists.size(user.roles)==1}">
				    <li >
				      <input type="checkbox" th:id="'user/'+${user.id}" 
				      		th:checked="${user.roles[0].name}=='USER'"
				           onchange="roleCheckBox(this, this.id)"/>
				        USER
				    </li>
				    <li>
				      <input type="checkbox" th:id="'manager/'+${user.id}" 
				      		th:checked="${user.roles[0].name}=='MANAGER'"
				           onchange="roleCheckBox(this, this.id)"/>
				        MANAGER
				    </li>
				    <li>
				      <input type="checkbox" th:id="'admin/'+${user.id}"
				      		th:checked="${user.roles[0].name}=='ADMIN'"
				      		th:disabled="${#authentication.getPrincipal().getUserId()} == ${user.id}"
				           onchange="roleCheckBox(this, this.id)"/>
				        ADMIN
				    </li>
				 </ul>
		     </div>
            </td>
            
            
            <!--
            
            <td>
            	<select th:id="'role'+${user.id}"
            		th:disabled="${#authentication.getPrincipal().getUserId()} == ${user.id}"
            	 	onchange="selectRole(this, this.id);">
			    	<option th:selected="${#lists.contains(user.roles.name, 'USER') and #lists.size(user.roles)==1}" value="user">USER</option>
			    	<option th:selected="${#lists.contains(user.roles, 'MANAGER') and #lists.contains(user.roles, 'ADMIN')==false}" value="manager">MANAGER</option>
			    	<option th:selected="${#lists.contains(user.roles, 'ADMIN')}" value="admin">ADMIN</option>
			    </select>
            </td>
            -->
        </tr>
        
    </tbody>
	</table>

    
</body>
<script type="text/javascript"
        src="/demo1/webjars/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript"
        src="//cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>      
        
<script type="text/javascript">

	$(function(){
		 $('#myTable').dataTable( {
			  "columnDefs": [
				    { "searchable": false,"orderable": false, "targets": 2 },
				    { "searchable": false, "targets": 5 },
				    { "searchable": false, "targets": 6 },
				  ]
				} );
		var currentUrl = window.location.href;
		if(currentUrl.indexOf('search-by/')==-1){
			var select = currentUrl.substring(currentUrl.lastIndexOf('/')+1);
			console.log(select);
			if(select=="view"){
				document.getElementById("sortby").value="id";
			}else{
				document.getElementById("sortby").value=select;
			}
			document.getElementById("searchBy").value="id";
		}else{
			var select2 = currentUrl.substring(currentUrl.indexOf('search-by/')+10,currentUrl.lastIndexOf('/'));
			console.log(select2);
			document.getElementById("searchBy").value=select2;
			document.getElementById("sortby").value=select2;
		}
		
	});
	
	// edit user information other than isactive and password
	function doubleClick(td, col){
		var originalContent=td.value;
		var otherTds=document.querySelectorAll(".input");
		otherTds.forEach(each => {
			  toString  = new XMLSerializer().serializeToString(each);
			  revert = toString.substring(toString.indexOf("value")+7, 
					  toString.indexOf("class")-2);
			  console.log(revert);
			  each.value=revert;
			  each.setAttribute("readonly",true);
			  each.classList.remove('input');
			  each.classList.add("input-transparent");
		});
		if(!td.hasAttribute("readonly")){
			td.setAttribute("readonly",true);
			td.classList.add("input-transparent");
			td.value=originalContent;
		}else{
			td.removeAttribute("readonly");
			td.classList.remove("input-transparent");
			td.classList.add("input");
			td.addEventListener('keypress', function (e) {
			    if (e.key === 'Enter') {
			    	td.classList.remove('input');
			    	td.setAttribute("readonly",true);
					td.classList.add("input-transparent");
			    	var id = td.parentNode.parentNode.id.replace("row","");
			    	var content = td.value;
			    	var key = col;
			    	
			    	if(content!=originalContent){
				    	var token = $("meta[name='_csrf.parameterName']").attr("content");
						$.ajaxSetup({
					        beforeSend: function(xhr) {
					            xhr.setRequestHeader('X-CSRF-Token', token);
					        }
					    });
					    $.ajax({
							type: "POST",
							url: '/demo1/save/'.concat(id),
							contentType: "application/json",
						    data: JSON.stringify({
						    	[key]: content
						    }),
						    
						    success:function(data) {
								console.log("success " + JSON.stringify(data));
							},
							error:function(data) {
								console.log("error " + JSON.stringify(data));
								if(key=="emailAddress"){
									key="email";
								}
								alert(data.responseText);
								document.getElementById(key+id).value=originalContent; // revert if input is not valid
								console.log(originalContent);
								
							}
						});
			    	}
				    
			    	console.log(id, key, content);
			    	td.replaceWith(td.cloneNode(true));
			    }
			});
		}
	}
	
	
	function showCheckBox(id){
		var x = document.getElementById(id).checked;
		var token = $("meta[name='_csrf.parameterName']").attr("content");
		console.log(id,x);
		const obj={
				"isActive": x
			};
		var row = document.getElementById("row"+id);

		if(x){
			row.classList.remove("greyout");
		}else{
			row.classList.add("greyout");
		}
		
		$.ajaxSetup({
	        beforeSend: function(xhr) {
	            xhr.setRequestHeader('X-CSRF-Token', token);
	        }
	    });
    
	    $.ajax({
			type: "POST",
			url: '/demo1/trigger-checkbox/'.concat(id),
			contentType: "application/json",
		    data: JSON.stringify(obj),
		    
		    success:function(data) {
				console.log("success " + data.result);
			},
			error:function(data) {
				console.log("error " + JSON.stringify(data));
			}
			
		});
	}
	
	//changing authority checkbox
	function roleCheckBox(thisBox, id){
		var x = thisBox.checked;
		var token = $("meta[name='_csrf.parameterName']").attr("content");
		
		var role = id.substring(0, id.indexOf("/")).toUpperCase();
		var id = id.substring(id.indexOf("/")+1);
		console.log(role, id);
		const obj={
				[role]: x
			};
		
		$.ajaxSetup({
	        beforeSend: function(xhr) {
	            xhr.setRequestHeader('X-CSRF-Token', token);
	        }
	    });
    
	    $.ajax({
			type: "POST",
			url: '/demo1/role/'.concat(id),
			contentType: "application/json",
		    data: JSON.stringify(obj),
		    success:function(data) {
				console.log("success " + data.result);
			},
			error:function(data) {
				console.log("error " + JSON.stringify(data));
			}
		});
	}
	
	//changing authority drop down menu
	function selectRole(selected, id){
		console.log(selected.value);
		var token = $("meta[name='_csrf.parameterName']").attr("content");
		const obj={
				"role": selected.value.toUpperCase()
			};
		
		$.ajaxSetup({
	        beforeSend: function(xhr) {
	            xhr.setRequestHeader('X-CSRF-Token', token);
	        }
	    });
    
	    $.ajax({
			type: "POST",
			url: '/demo1/change-role/'.concat(id.substring(id.indexOf("role")+4)),
			contentType: "application/json",
		    data: JSON.stringify(obj),
		    
		    success:function(data) {
				console.log("success " + data.result);
			},
			error:function(data) {
				console.log("error " + JSON.stringify(data));
			}
		});
	}
	
	
	
	function sortBy() {
		var x = document.getElementById("sortby").value;
		var token = $("meta[name='_csrf.parameterName']").attr("content");
	
		console.log(x);
        window.location.href="/demo1/sortBy/"+x;
	}
	
	function searchBy(){
		
		var value = document.getElementById("searchField").value;
		var selected = document.getElementById("searchBy").value;
		if(value!=null && value!=""){
		
			console.log(selected, value);
			window.location.href="/demo1/search-by/"+selected+"/"+value;
		}
	}
	
</script>
</html>