<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Hello PostgreSQL</title>
</head>
<style>
table, th, td {
  border: 1px solid black;
}
</style>
<body>
    <p th:text="${name}"/>
    <!-- <input type="hidden"  th:name="${_csrf.parameterName}" th:value="${_csrf.token}" /> -->
    <input type="submit" id="submitButton" th:value="Save">
    <input type="text" placeholder="Search..">
    
    <select id="sortby" onchange="sortBy();">
    	<option value="id">id</option>
    	<option value="name">name</option>
    </select>
    <table>
    <thead>
        <tr>
            <th>Name</th>
            <th>ID</th>
            <th>Password</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>Active</th>
        </tr>
    </thead>
    <tbody>
    	
    	<tr th:if="${users.empty}">
            <td colspan="3"> No Available </td>
        </tr>
        
        
        <tr th:each="user,iteration : ${users}">
            <td th:text="${user.name}">Name</td>
            <td th:text="${user.id}">id</td>
            <td th:text="${user.password}">Password</td>
            <td th:text="${user.emailAddress}">Email</td>
            <td th:text="${user.mobile}">Mobile</td>
            <td>
            	<input type="checkbox"
	            	th:checked="${user.isActive}"
	            	th:id="${user.id}" onchange="showCheckBox(this.id)" />
            </td>
        </tr>
    </tbody>
	</table>

    
</body>
<script type="text/javascript"
        src="webjars/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript">

	function showCheckBox(id){
		var x = document.getElementById(id).checked;
		console.log(id,x);
		const obj={
				"isActive": x
			};
    	
    
	    $.ajax({
			type: "POST",
			url: 'trigger-checkbox/'.concat(id),
			dataType: 'json',
			contentType: "application/json",
	
		    data: JSON.stringify(obj),
		    
		    success:function(data) {
				console.log("success " + data.result);
			},
			error:function(data) {
				console.log("error " + JSON.stringify(data));
			}
		    
		    
			
		});
	}
	
	function sortBy() {
		var x = document.getElementById("sortby").value;
		console.log(x);
		
	}
	
</script>
</html>